<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Ajuda Online</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Ajuda</a></a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/circuit.jpg')}" alt="Circuit Traces" />
          <!-- Image from Flickr: http://www.flickr.com/photos/creative_stock/5227842611/ -->
      </div>
      <article>
        <h2>Problemas em aceder a um curso?</h2> 
        <p><strong>Se está com problemas em aceder um curso?</strong><br />
           - <a href="/logout">Faça Log out</a> da sua conta.<br />
           - Navegue até à página do curso.<br />
           - Clique no botão Registar e deve conseguir proseguir com o registo, após autenticação.
        </p>
        <h2>Para apoio técnico geral</h2>
        <p><strong>Email us at:</strong><br />
        <a href="mailto:techsupport@class.stanford.edu">techsupport@escola.org</a></p>
      </article>
    </section>
  </section>

</section>
