## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Termos de Serviço</a></li>
          <li><a href="${reverse('tos')}#privacy">Política de Privacidade</a></li>
          <li><a href="${reverse('tos')}#honor">Código de Conduta</a></li>
          <li><a href="${reverse('about_edx')}#careers">Carreira</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contacto</a></li>
          <li><a href="${marketing_link('FAQ')}">Ajuda</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Obrigado OpenEdX</a>.</span>
    </div>
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="https://www.escola.org">
          <img src="https://www.escola.org/images/logo-escola-tree.png" alt="Escola.org" width="219" height="77"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="https://www.escola.org">Escola.org Home</a></li>
        </ul>
        <div class="clear"></div>
        <p class="copyright vcard">&copy; <span class="fn org">Escola.org</span>, <span class="adr"> <span class="locality">Ensino à Distância</span>, <span class="region">Português</span> <span class="postal-code">Todos temos algo a aprender</span> </span></p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
